<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure CI/CD Pipeline</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>🚀 Secure CI/CD </h1>
        <p>Automated Testing • Docker • GitHub Actions • Security</p>
    </header>

    <section class="cards">

        <div class="card">
            <h2>🐍 Python</h2>
            <p>Backend Application</p>
        </div>

        <div class="card">
            <h2>🌐 Flask</h2>
            <p>Web Framework</p>
        </div>

        <div class="card">
            <h2>🐳 Docker</h2>
            <p>Containerization</p>
        </div>

        <div class="card">
            <h2>⚙ GitHub Actions</h2>
            <p>Continuous Integration</p>
        </div>

        <div class="card">
            <h2>🧪 Pytest</h2>
            <p>Automated Testing</p>
        </div>

        <div class="card">
            <h2>🔒 Bandit</h2>
            <p>Security Scanning</p>
        </div>

    </section>

    <section class="pipeline">

        <h2>CI Pipeline Workflow</h2>

        <p>
            Developer
            ↓<br>
            GitHub
            ↓<br>
            GitHub Actions
            ↓<br>
            Pytest
            ↓<br>
            Flake8
            ↓<br>
            Bandit
            ↓<br>
            Docker
            ↓<br>
            Flask Application
        </p>

    </section>

    <section class="status">

        <h2>Project Status</h2>

        <ul>
            <li>✅ Application Running</li>
            <li>✅ Docker Configured</li>
            <li>✅ Tests Passing</li>
            <li>✅ Security Scan Enabled</li>
            <li>✅ CI Pipeline Successful</li>
        </ul>

    </section>

    <footer>
        <p>Developed by Pushpender Singh Yadav</p>
        <p>IBM Internship Project</p>
    </footer>

</body>
</html>